

<div id="thele" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullpage-bot">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg padding-top" role="document">
        <div class="modal-content trans-modal">
            <div class="modal-body trans-modal">
                <div class="laptop-bg">
                    <div class="clip-content">
                        <video width="320" height="240" controls>
                            <source src="~/Clips/test.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="row">
                    <div class="rv-container">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="clip-name">Tên Video</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="rv-author">Tên tác giả</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hearts-text">
                            <span class="heart-noabs">9999 <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                            <span class="share"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:40px;">
                            <div class="rv-desc">
                                <div class="desc-content">
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                    d gasg sddg fsdfa d d gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa dd gasg sddg fsdfa d
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-title">BÌNH LUẬN</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-input-block">
                                <div class="avatar">
                                    <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                </div>
                                <div class="comment-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control cm-inp" placeholder="Viết bình luận..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-send" type="button">Gửi</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-container">
                                <div class="comment-area">
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội</div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dộiĐẹp dữ dộiĐẹp dữ dội</div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội</div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội</div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dội Đẹp dữ dộiĐẹp dữ dộiĐẹp dữ dội</div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="avatar">
                                            <img style="height:100%;width:100%" src="~/Imgs/defaultuser.png" />
                                        </div>
                                        <div class="comment-content">
                                            <label>Tâm tít</label>
                                            <div>Đẹp dữ dội</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>



                    </div>
                   
                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript" defer src="~/Scripts/js/review.js"></script>
