
@{
    ViewBag.Title = "Đăng nhập";
}




<div style="text-align:center; margin-top:50px">
    <button onclick="ShowLogin()" type="button" class="btn btn-success btn-lg">Đăng nhập</button>
</div>


<script>

    function ShowLogin() {
        //$("#coll").click();


        $("#loginModal").modal();
    }

</script>