


<div id="mb-fixed-height" class="fullpage">
    <div class="col-sm-12" style="padding:0px; height:100%">
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" @*data-ride="carousel" data-interval="2000"*@>
                <!-- Carousel indicators -->
                @*<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>*@
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="fill" style="background-image:url('/Imgs/banner1.jpg')">
                        </div>
                        <div class="slide-title">
                         
                        </div>
                        <div class="slide-title2">
                            Khơi nguồn sáng tạo<br />
                            Thổi bùng đam mê
                        </div>
                    </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('/Imgs/banner2.jpg')">
                        </div>
                        <div class="slide-title">
                     
                        </div>
                    </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('/Imgs/banner3.jpg')">
                        </div>
                        <div class="slide-title">
                      
                        </div>
                    </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('/Imgs/banner4.jpg')">
                        </div>
                        <div class="slide-title">
                   
                        </div>
                    </div>
                </div>
                <a class="carousel-control left-flat" href="#myCarousel" data-slide="prev">
                    <img style="height:100%; width:100%" src="~/Imgs/prev.png" />
                </a>
                <a class="carousel-control right-flat" href="#myCarousel" data-slide="next">
                    <img style="height:100%; width:100%" src="~/Imgs/next.png" />
                </a>

            </div>
        </div>
    </div>
</div>
<div class="fullpage">
    <div class="col-sm-12" style="padding:0px; height:100%; padding-top:2%">
        <div class="bg-title">
            Giải thưởng
        </div>
        <div class="sub-prize">
            6 Máy tính xách tay HP Pavillion 15
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 laptop">
                    <img style="height:250px;max-width:100%" src="~/Imgs/laptop1.png" />
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <img style="height:362px; max-width:100%" src="~/Imgs/laptop2.png" />
                </div>
            </div>
           <div class="row">
               <div class="col-xs-12">
                   <div class="BO">
                       <div class="BO-logo">
                           <img style="width:100%;height:100%" src="~/Imgs/unname.png" />
                       </div>
                       <div class="BO-desc">
                           Loa kép, công nghệ khuếch âm HP Audio Boost và âm thanh tinh chỉnh bởi B&O PLAY mang đến chiều sâu âm nhạc mới đầy sống động và chân thực.
                       </div>
                   </div>
                   
               </div>
           </div>
        </div>
    </div>

</div>
<div class="fullpage-bot">
    <div class="col-sm-12 step">

        <div>
            <div class="container">
                <div class="step-title">Tham gia ngay chỉ với 4 bước đơn giản</div>
                <div class="row step-space">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mini-padding">
                                <div onclick="ShowDesc(1, this)" class="step-block step-space step-active">
                                    <div class="step-num">1</div>
                                    <div class="step-name">
                                        <span>Lên ý tưởng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mini-padding">
                                <div onclick="ShowDesc(2, this)" class="step-block step-space">
                                    <div class="step-num">2</div>
                                    <div class="step-name"><span>Quay clip</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mini-padding">
                                <div onclick="ShowDesc(3, this)" class="step-block step-space">
                                    <div class="step-num">3</div>
                                    <div class="step-name"><span>Gửi clip</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mini-padding">
                                <div onclick="ShowDesc(4, this)" class="step-block step-space">
                                    <div class="step-num">4</div>
                                    <div class="step-name"><span>Bình chọn</span></div>
                                </div>
                            </div>


                        </div>
                     

                      
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 no-padding" style="position:relative;">
                        <div class="camera-container">
                            @*<img class="camera" src="~/Imgs/camera.png" />*@
                        </div>
                       <div class="bg-control">
                           <div class="bg-step-desc">
                               <div id="desc1" class="content-inside">
                                   <span>Đó có thể là phần trình diễn của cá nhân hoặc nhóm, một bài hát hoặc một bản nhạc không lời,...hãy tìm những ý tưởng sáng tạo, độc đáo nhất, thể hiện được "chất" riêng và tình yêu của bạn đối với âm nhạc</span>
                               </div>
                               <div id="desc2" class="content-inside" style="display:none">
                                   <span>Không cần quá công phu hay cầu kỳ nhưng hay chăm chút video của bạn để nó có thể thu hút người xem</span>
                               </div>
                               <div id="desc3" class="content-inside" style="display:none">
                                   <span>Bài dự thi gửi về hpkhoinguonsangtao@gmail.com kèm thông tin liên hệ gồm: sinh viên trường trung cấp/cao đẳng/đại học nào, năm thứ mấy, địa chỉ liên lạc, email, điện thoại, đường link tài khoản facebook của bạn</span>
                               </div>
                               <div id="desc4" class="content-inside" style="display:none">
                                   <span>Hãy kêu gọi bạn bè và các fan ruột của mình ủng hộ để video được vào vòng trong nhé</span>
                               </div>
                           </div>
                       </div>
                        

                        
                    </div>
                </div>
            
              
            </div>
          
        </div>
    </div>
</div>



<script type="text/javascript" src="~/Scripts/js/index.js"></script>
