



<div id="thele" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullpage-bot">
    <div class="container">
        <h1 class="tl_h1">
            Khơi nguồn sáng tạo.<br />
            Thổi bùng đam mê.
        </h1>
        <div class="tl_content">
            <div class="ct-inside">
               <p><b style="font-size:15px">THỂ LỆ & GIẢI THƯỞNG CUỘC THI “KHƠI NGUỒN SÁNG TẠO –THỔI BÙNG ĐAM MÊ”</b></p>
               <p> Nhằm tạo sân chơi cho các bạn trẻ sinh viên yêu âm nhạc, khơi nguồn cảm hứng để các bạn có thể được sống với niềm đam mê và có cơ hội tỏa sáng trên sân chơi chung, thêm yêu đời, yêu cuộc sống thông qua những giai điệu âm nhạc, giúp các bạn sảng khoái tinh thần học tập tốt hơn, công ty TNHH HP Việt Nam phối hợp với công ty Cổ Phần Thế Giới Số (Digiworld Corporation) tổ chức cuộc thi với tên gọi: <b style="font-size:13px">“KHƠI NGUỒN SÁNG TẠO – THỔI BÙNG ĐAM MÊ”</b></p>
                <p><b>1. Phạm vi diễn ra:</b>  Các bạn sinh viên thuộc các trường đại học khu vực HCM & HN</p>             
                <p>
                    <b>2. Thời gian:</b> Từ ngày 1/11/2016 đến ngày 30/11/2016                    
                </p>
               
                <p>
                    <b>3. Hình thức:</b> Tổ chức cuộc thi âm nhạc mang tên gọi <b style="font-size:13px">“KHƠI NGUỒN SÁNG TẠO – THỔI BÙNG ĐAM MÊ”</b>
                    
                </p>
               
                <p><b>4. Đối tượng tham gia chương trình</b></p>
                <ul style="padding-left:15px;margin-left:15px;">
                    <li>Công dân Việt Nam từ 18 đến 23 tuổi, đang là sinh viên thuộc các trường Trung cấp, Cao Đẳng, Đại Học tại khu vực HCM, Hà Nội, có năng lực pháp luật và năng lực hành vi dân sự đầy đủ.</li>
                    <li>Thông tin cá nhân đăng ký phải trung thực để Ban Tổ Chức có thể liên lạc được với người tham gia để kiểm tra tính xác thực.</li>
                </ul>
   
                <p><b>5. Cơ cấu giải thưởng</b></p>
                <ul style="padding-left:15px;margin-left:15px;">
                    <li>2 giải nhất, mỗi giải được nhận một máy tính xách tay HP Pavilion 15 trị giá 15.000.000 đồng</li>
                    <li>4 giải đồng hạng, mỗi giải nhận được một máy tính xách tay HP Pavilion 15 trị giá 11.000.000 đồng</li>
                </ul>
                
                <p style="font-style:italic; margin-bottom:5px;">Ghi chú: Giải thưởng không có giá trị quy đổi thành tiền mặt.</p>
                
                <p><b>6. Nội dung chi tiết và thể lệ cuộc thi</b></p>
                <p><b>6.1</b> Cách thức tham gia: Để tham gia chương trình, Người Dự Thi cần làm theo các bước sau</p>
                 <ul style="padding-left:15px;margin-left:15px;">
                    <li><b>Bước 1:</b> Gửi clip dự thi qua email: hpkhoinguonsangtao@gmail.com kèm các thông tin liên hệ chi tiết gồm (Sinh viên trường trung cấp/cao đẳng/đại học nào, năm thứ mấy, địa chỉ liên lạc, email, điện thoại, đường link tài khoản facebook của bạn).</li>
                    <li><b>Bước 2:</b> Ban tổ chức chương trình tải lên: Youtube, landing page, fanpage… của chương trình và đính kèm tài khoản của các bạn.</li>
                    <li><b>Bước 3:</b> Các bạn sẽ vận động bạn bè, người thân vote cho clip của bạn trên landing page của chương trình. 5 clip có lượng vote cao nhất và 5 clip do BTC chọn sẽ được lọt vào vòng Trung khảo. BTC sẽ lựa chọn 6 giải trong đó có 2 giải nhất và 4 giải đồng hạng.</li>
                </ul>
                
                <p><b>6.2</b> Tiêu chí clip:</p>
                <ul style="padding-left:15px;margin-left:15px;">
                    <li>Các bạn có thể tham dự cá nhân hoặc tập thể</li>
                    <li>Clip có thể là thể hiện bài hát hoặc bản nhạc</li>
                    <li>Thể hiên niềm đam mê với âm nhạc</li>
                    <li>Thể hiện sự sáng tạo.</li>
                    <li>Mang lại cảm xúc cho người nghe.</li>
                    <li>Không vi phạm bản quyền</li>
                </ul>
                <p><b>6.3</b> Trao thưởng: Giải thưởng được tổ chức trao thưởng dự kiến vào tháng 12/2016.</p>
           <p><b>6.4.</b> Quy định – điều khoản chung</p>
                <ul style="padding-left:15px;margin-left:15px;">
                    <li>Người dự thi tham gia cần phải đọc và hiểu rõ thể lệ của cuộc thi, đồng ý và tuân theo quy định bản thể lệ này.</li>
                    <li>Người đoạt giải phải đảm bảo tuân thủ thời gian và sự sắp xếp của BTC trong quá trình nhận giải.</li>
                    <li>Người đoạt giải phải chịu mọi chi phí liên quan đến việc nhận giải thưởng như chi phí đi lại, ăn ở, thuế thu nhập cá nhân (nếu có).</li>
                    <li>Nếu có bất kỳ thay đổi nào về thể lệ của chương trình, BTC sẽ thông báo trước tại Facebook Fanpage</li>
                    <li>Trường hợp bất khả kháng do thiên tai, lũ lụt, sét đánh, khủng bố, bị tấn công máy chủ làm thất thoát dữ liệu đăng ký của người dự thi; BTC giữ quyền quyết định thay đổi hoặc hủy bỏ chương trình và thông báo với người tham gia trong thời gian sớm nhất.</li>
                    <li>Trong trường hợp BTC nghi ngờ người tham gia có dấu hiệu gian lận hoặc có mục đích hoặc hành vi phạm quy định của chương trình hoặc thực hiện bất cứ hành động nào gây ảnh hưởng đến kết quả trung thực cuối cùng của chương trình thì BTC có quyền loại bỏ người tham gia này ra khỏi cuộc thì mà không cần thông báo trước.</li>
                    <li>Bất kỳ Người tham gia nào vi phạm những quy định và thể lệ của chương trình đều sẽ bị loại và sẽ không được quyền tham gia các chương trình/ cuộc thi khác</li>
                    <li>Trong trường hợp phát sinh tranh chấp, khiếu nại liên quan đến chương trình và giải thưởng, BTC sẽ trực tiếp giải quyết và quyết định của BTC là kết quả cuối cùng.</li>
                    <li>BTC có thể thay đổi thể lệ chương trình phù hợp với tính chất chương trình tại thời điểm hiện tại và thông báo trực tiếp trên Fanpage.</li>
                </ul>
    
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="~/Scripts/js/thele.js"></script>
