html,body{height:100%;}
body {
    padding-top: 60px;
    padding-bottom: 20px;
    position:relative;
}
@font-face {
    font-family: 'Icielbrandon';
    src: url('/fonts/ICIELBRANDONTEXT-BOLD.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/ufonts.com_gotham-book.ttf');
    font-weight: normal;
    font-style: normal;
}
.submit{
    display:inline-block;
}
footer{
    background-color:#fff;
    color: #000;
}
.mayBeHidden{
    display:none;
}




.prevBtn{
    height:40px;
    width:40px;

    position:absolute;
    bottom:50%;
    left:50px;

}
.nextBtn{
    height:40px;
    width:40px;

    position:absolute;
    bottom:50%;
    right:50px;

}

footer .list{
    list-style: none;
    margin-bottom: 0;
    margin: 0 auto;
    padding-left: 0;
}
footer .list .list-li{
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}
footer .list .list-li a, footer .copyright{
    color: #000;
    font-size:12px;
}
.mini-padding{
    padding:0px 5px;
}
.copyright{
    padding: 0px 10px;
}

footer .list .list-li a:hover, footer .list .list-li a:focus{
    text-decoration:none;
    color :#000;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Flat Carousel*/
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
}
.bs-example{
    height:100%;
}
.item {
    color: #666;
    background: #fff;
    height: 100%;
    /*line-height: 300px;*/
    /* Align the text vertically center. */
    font-size: 52px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.carousel-control {
    top: 50%;

    /* border 3px, size 40px */

    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;

    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    text-align: center;
    opacity: .5;
    filter: alpha(opacity=50);
}

/* cancel background image gradient */
 .carousel-control.left-flat {
    right: auto;
    left: 15px;
}
/* override background image gradient */
 .carousel-control.right-flat {
    right: 15px;
    left: auto;
}



/*My Css from here*/

.slide-title2{
    display:none;
    text-align:center;
        color: #181717;
        font-size:32px;
        margin-top:10px;
}

.slide-title{
    width: 550px;
    height: 200px;
    color: #181717;
    background:url("/Imgs/blurbg.png");
    background-repeat:no-repeat;
    background-size:cover;
      position:absolute;
    top: 20px;
    left:40%;
    font-size:30px;
    text-align:right;
    font-family:Icielbrandon;
}


.my-header{
    background-color: rgb(5,161,222);
    color: #fff;
    font-size:12px;
    font-weight:bold;
    margin-bottom:0px;
    height:60px;

    box-shadow:  0 3px 3px 0px rgb(1, 105, 146);
    -moz-box-shadow: 0 3px 3px 0px rgb(1, 105, 146);
    -webkit-box-shadow:  0 3px 3px 0px rgb(1, 105, 146);
    z-index: 999999;
}

.social{
    position: fixed;
    right: 10px;
    top: 40%;
    z-index:1000;
    padding:5px;
    background-color:#fff;
    border-radius:4px;
}
.social a{
       display: block;
    color: #fff !important;
    margin: 0;
    height: auto;
    padding: 0;
}
.social i.fa-facebook-square{
    color:#3b5998;
}
.social i.fa-youtube-square{
    color: #d02021;
}
.social i.fa-share-alt-square{
    color: #05a1de;
}
.mb-only{
    display:block;
}
.desk-only{
    display:none;
}
.my-header .my-navbar > li > a{
    color:#fff;
    text-transform:uppercase;
      padding:5px 10px !important;
}
.my-header .my-navbar {
    text-align:center;
    list-style:none;
    margin:0 auto;
    padding-left:0px;
    float:none;
}
.my-header .my-navbar li {
    display:inline-block;
    list-style:none;
    float:none;
    padding:15px 30px;
}

.my-header .my-navbar li:hover, .my-header .my-navbar li:focus{
        background-color:rgb(39,124,207);
}
.my-header .my-navbar li.active, .my-header .my-navbar li.active a, .my-header .my-navbar li.active a:hover, .my-header .my-navbar li.active a:focus{
    background-color:rgb(39,124,207);
}

.li-login{
    font-size:12px;
    position:absolute;
    right:5px;
    top:12px;
    padding:10px 15px;
}

.btnLogin{
    border:2px solid #fff;
    padding:7px 10px !important;
    color:#fff;
    text-transform:uppercase;
}
.btnLogin:hover{
    text-decoration:none;
    color:#fff;
}
.bg-title{
    background-image:url('/Imgs/bg_title.png');
    color:#fff;
    text-transform:uppercase;
    background-repeat:no-repeat;
    font-size:30px;
    margin:0 auto;
    text-align:center;
    padding-top:30px;
    font-weight:bold;
    width:300px;
    height:100px;
}
.sub-prize{
    text-align:center;
    font-size:24px;
    color:rgb(39,124,207);
    font-weight:bold;
}
.laptop{
    padding-top:5%;
    text-align:right;
    padding-right:0px;
}
.BO{
    max-width:400px;
    margin:0 auto;
    position:relative;
}
.BO-logo{
    position:absolute;
    top:0;
    left:0;
    width:70px;
    height:75px;
}
.BO-desc{
    padding-left:80px;
    font-size:13px;
    font-family:Gotham;
}
.step{
    padding:0px; 
    height:100%;
    background-image:url('/Imgs/step.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:#fff;
}
.step-block{
    position:relative;
        cursor:pointer;
}
.step-title{
    text-transform:uppercase;
    font-style:italic;
    font-size:18px;
    text-align:center;
    font-weight:bold;
    padding-top:50px;
    margin-bottom:20px;
}

.step-num{

    height:30px;
    width:30px;
    position:absolute;
    left:0;
    top:0;
    border-radius:50%;
    border:3px solid #fff;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    font-family:Gotham;
    background-color:rgb(40,122,204);
}
.step-name{
    padding-left:35px;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:35px;
}
.step-space{
    margin-top: 10px;

}
.step-active .step-num{
    border:3px solid rgb(41,124,204);
    color: rgb(1,77,161);
     background-color:#fff;
}
.step-active .step-name span{
    border-bottom:1px solid #fff;
}
.camera-container{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    background-image:url('/Imgs/camera.png');
    background-size:cover;
    background-position:center;
    width:250px;
    display:none;
}
.bg-control{
    height:300px;
    padding-top:30px;
}
.bg-step-desc{
    background-image:url('/Imgs/bg_step_desc.png');
    background-repeat:no-repeat;
    max-width:360px;
    height:165px;

    padding:30px;
    margin:0 auto;
    background-size:initial;
}
.no-padding{
    padding:0px !important;
}
.bg-step-desc .content-inside{
    position:relative;
    color:rgb(0,77,161);
    overflow-y:auto;
    height:105px;
    line-height:105px;
    padding-right:5px;
    font-size:15px;
}
.fixed-width{
    width:85px;
    display:inline-block;
}
.fixed-width span{
    padding-top:5px;
          overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.4em;        /* fallback */
   max-height: 1.4em;  
}
.content-inside span{
    display:inline-block;
    vertical-align:middle;
    line-height:15px;
}

    
.content-inside::-webkit-scrollbar-track, .ct-inside::-webkit-scrollbar-track, .desc-content::-webkit-scrollbar-track, .comment-area::-webkit-scrollbar-track
{
     /*rgb(1,77,161)*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.content-inside::-webkit-scrollbar, .ct-inside::-webkit-scrollbar,  .desc-content::-webkit-scrollbar, .comment-area::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.content-inside::-webkit-scrollbar-thumb, .ct-inside::-webkit-scrollbar-thumb, .desc-content::-webkit-scrollbar-thumb, .comment-area::-webkit-scrollbar-thumb
{
	background-color: rgb(41,124,204);
}


.tl_h1{
    color:#fff;
    font-size:20px;
    text-align:center;
    font-family:Icielbrandon;
}
.uppercase{
    text-transform:uppercase;
}
#thele{
    background-image:url("/Imgs/thele_bg.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.tl_content{
    background-image:url("/Imgs/thele_block.png");
    background-repeat:no-repeat;
    padding:40px 0px;
    margin:0 auto;
    background-position:center top;
    height:500px;
}
.tl_content .ct-inside{
    padding:5px;
    height:420px;
    max-width:700px;
    margin:0 auto;
    overflow-y:auto;
}
.ct-inside span{
    margin-left:10px;
}
.logo-block{
    text-align:center;
}
.logo-item{
    height:100px;
    display:inline-block;
}

.btn-Search{
    background-color: rgb(5,145,222);
    color:#fff;
        border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #fff;
    border-right:none;

}
.btn-Search:hover, .btn-Search:focus{
     background-color:rgb(39,124,207);
     color:#fff;
}
.search-field{
    height:34px;
    max-width:200px !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pagination ul {
    text-align:center;
}
#pagination ul li{
    display:inline-block;
}

.simple-pagination li{
    min-width:26px;
    height:26px;
}
.simple-pagination li.disabled{
    display:none;
}
.simple-pagination li.active{
    border-radius:50%;
    background-color:#fff;
}
.simple-pagination li.active span{
    color: rgb(0,77,161) !important;
}
.light-theme a, .light-theme span{
    box-shadow:none !important;
    color: #fff !important;
    border:none !important;
    line-height:26px;
    padding: 2px 8px !important;
        background:transparent;
        font-size:12px;
}
.page-link{
    background:transparent;
}
.my-container{
    padding:15px;
    max-width: 900px !important;
    margin:0 auto;
    width:100%;
    position:relative;
    min-height:1px;
    display:block;
    background-image:url('/Imgs/white_bg.png');
    background-size:cover;
    border-radius:5px;
}

.clip-item{
    padding:5px;
    background-color:#fff;
    border-radius:4px;
    margin-bottom:15px;
    margin-top:15px;
}
.clip-item .clip-thumb{
    height:160px;
    cursor:pointer;
}
.clip-item .clip-title{
    font-weight:bold;
    font-size:16px;
    margin-top:5px;
    position:relative;
    padding-right:60px;
}
.clip-item .clip-title .short-name{
      overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.6em;        /* fallback */
   max-height: 1.6em;   
}
.restrict2{
      overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.4em;        /* fallback */
   max-height: 2.8em;   
}
.go-review{
    color: #000;
}
.go-review:hover, .go-review:focus{
    text-decoration:none;
    color:#000 !important;
}
.voted i{
    color: #d43f3a !important;
}

.heart{
    color: rgb(245,164,57);
    position:absolute;
    right:0px;
    width:55px;
    font-size:14px;
    font-weight:normal;
    top:2px;
    cursor:pointer;
}
.heart-noabs{
     color: rgb(245,164,57);
    width:55px;
    font-size:14px;
    font-weight:normal;
    cursor:pointer;
}
.clip-item .info{
    position:relative;
    height:25px;
    margin-top:5px;
}

.clip-item .info .author{
    font-size:13px;
       overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.3em;        /* fallback */
   max-height: 1.3em;   
}
.week{
    text-align:center;
    list-style:none;
    margin-bottom:0px;
    padding-left:0px;
}
.week li{
    display:inline-block;
    list-style:none;
    background-color: rgb(245,164,57);
    padding:5px 7px;
    border-radius:4px;
    margin:15px 10px 0px 10px;
}
.week li a {
      text-transform:uppercase;
    font-size:13px;
       color:#fff;
       font-weight:bold;
}
.week li a:hover{
    text-decoration:none;
    color:#fff;
}

#fake-laptop-bg{

}
#fake-laptop-bg video{
    width:100%;
}
.laptop-bg{
    background-image:url('/Imgs/laptop_bg.png');
    background-repeat:no-repeat;
    z-index:5;
    height:560px;
    background-size:contain;
        padding-top: 29px;
    padding-left: 129px;
}
.clip-content{
    background-color:gray; 
    height:326px; 
    width:580px;
}
.modal-lg
{
    width: 900px;
}
.trans-modal{
    background:transparent !important;
    box-shadow: none !important;
    border:none !important;
}
.clip-content video{
    height:100%;
    width:100%;
}
.clip-name{
    color:rgb(245,164,57);
    font-weight:bold;
    font-size:22px;
}
.comment-title{
     color:rgb(245,164,57);
    font-weight:bold;
    font-size:18px;
    text-transform:uppercase;
    margin-top:15px;
    margin-bottom:10px;
}
.rv-author{
    color:#fff;
    font-size:12px;
    font-weight:bold;
}

.share{
    color:#fff;
    background-color:rgb(69,98,178);
    font-weight:bold;
    font-size:12px;
    padding:3px 5px;
    border-radius:4px;
    cursor:pointer;
    margin-left:15px;
}
.modal-backdrop.in{
    opacity:0.9;
}
.padding-top{
    padding-top:60px;
}
.hearts-text{
    text-align:right;
}
.rv-container{
    max-width:700px;
    margin:0 auto;
}
.rv-desc{
    background-image:url("/Imgs/rvdesc.png");
    background-repeat:no-repeat;
    margin:0 auto;
    width:700px;
    height:260px;
    padding:35px 50px 40px 35px;
}
#fake-rv-desc{
    padding:5px;
    background-color:#fff;
    border-radius:4px;
}


.desc-content{
    overflow-y:auto;
    position:relative;
    color:#000;
    height:185px;
    padding-right:5px;
    border:none;
    width:100%;
    max-width:100%;
    white-space: pre-line;
}
.comment-input-block{
    position:relative;
}
.comment-input-block .avatar{
    height:50px;
    width:50px;
    position:absolute;
    left:0px;
    top:0px;
}

.comment-input-block .comment-input{
    padding-left:60px;
    height: 50px;
}
.comment-input-block .comment-input .input-group{
    height:50px;
}
.comment-input-block .comment-input .cm-inp{
    height:50px !important;
    background-color: rgb(190,223,255);
    color: #000;
    font-size:13px;
    max-width:100%;
    width:100%;
}

.cm-inp::-webkit-input-placeholder {
   color: #000;
}

.cm-inp:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

.cm-inp::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.cm-inp:-ms-input-placeholder {  
   color: #000;  
}
.btn-send{
    background-color:rgb(5,161,222);
    color:#fff;
    font-weight:bold;
    padding:14px 12px !important;
}
.btn-send:hover{
        background-color:rgb(2,97,134);
    color:#fff;
}
.comment-container{
    background-color:#fff;
    padding:5px; 
    border-radius:4px; 
    margin-top:15px;
}
.comment-area{
    background-color:#fff;
    border-radius:4px;
    padding:5px;
    height:250px;
    overflow-y:auto;
}
.comment-area .comment-item{
    position:relative;
    padding-left:60px;
    margin-bottom:10px;
    min-height:50px;
}
.comment-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.comment-item .avatar{
    height:50px;
    width:50px;
    position:absolute;
    left:0px;
    top:0px;
}
.mb-menu{
    background-color:#05a1de;
    color:#fff;
    padding:0px;
}


.mb-menu.in .my-navbar  li{
    width:100%;
}

/*/*in .lg-block-2{
    display:none;
}
.my-navbar .lg-block {
    display:none !important;
    visibility:hidden;
}
.in .lg-block{
    display:block !important;
    visibility:visible;
}*/

.navbar-brand{
    position:absolute;
    top:5px;
    left:5px;
    float:none;
    padding:0px;
}

.comment-item  .comment-content{

}


.btn-facebook{
        color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover{
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}
.btn-social{
    position: relative;
    padding-left: 54px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:300px;
    margin:0 auto;
}
.btn-social>:first-child{
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 0;
    width: 42px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-google{
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-google:hover{
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}
.social-logined{
    position:absolute;
    right:0px;
    top:0px;
    width:150px;
    margin-top:15px;
}
.social-logined a{
    color: #fff;
}
.social-logined a:hover, .social-logined a:focus{
    text-decoration:none;
    color:#fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
     .step-title{
        font-size:20px;
        text-align:left;
    }
     .step-space{
    margin-top: 20px;
}
        .step-num{
        font-size:25px;
        height: 40px;
    width: 40px;
        border:5px solid #fff;
    }
  .step-name{
        padding-left:50px;
        font-size:16px;
        line-height:40px;
    }
  .step-active .step-num{
    border:5px solid rgb(41,124,204);
    color: rgb(1,77,161);
     background-color:#fff;
}
    .camera-container{
        display:none;
    }
     .bg-control{
    height:300px;
    padding-top:60px;
}
     .bg-step-desc{
        height:185px;
    }
      .bg-step-desc .content-inside{
        height:125px;
    }
      .mb-only{
    display:none;
}
      .desk-only{
    display:block;
}
      .tl_h1{
    color:#fff;
    font-size:50px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    font-family:Icielbrandon;
}
      .logo-block{
    text-align:right;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
      .step-title{
        font-size:24px;
        text-align:left;
    }
      .step-space{
    margin-top: 20px;
}
         .step-num{
        font-size:30px;
        height: 50px;
    width: 50px;
      border:5px solid #fff;
    }
           .step-name{
        padding-left:70px;
        font-size:20px;
        line-height:50px;
    }
           .step-active .step-num{
    border:5px solid rgb(41,124,204);
    color: rgb(1,77,161);
     background-color:#fff;
}
  .camera-container{
        display:block;
    }
   .bg-control{
    height:300px;
    padding-top:60px;
}
   .bg-step-desc{
        height:185px;
    }
    .bg-step-desc .content-inside{
        height:125px;
    }
    .mb-only{
    display:none;
}
       .desk-only{
    display:block;
}
       .tl_h1{
    color:#fff;
    font-size:50px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    font-family:Icielbrandon;
}
       .logo-block{
    text-align:right;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .step-title{
        font-size:24px;
        text-align:left;
    }
    .step-space{
    margin-top: 20px;
}

    .step-num{
        font-size:30px;
        height: 50px;
    width: 50px;
      border:5px solid #fff;
    }
    .step-name{
        padding-left:70px;
        font-size:20px;
        line-height:50px;
    }
    .step-active .step-num{
    border:5px solid rgb(41,124,204);
    color: rgb(1,77,161);
     background-color:#fff;
}
    .camera-container{
        display:block;
    }
    .bg-control{
    height:300px;
    padding-top:60px;
}
    .bg-step-desc{
        height:185px;
    }
    .bg-step-desc .content-inside{
        height:125px;
    }
    .mb-only{
    display:none;
}
       .desk-only{
    display:block;
}
       .tl_h1{
    color:#fff;
    font-size:50px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    font-family:Icielbrandon;
}
       .logo-block{
    text-align:right;
}
}



